* {
    font-family: 'Noto Sans', sans-serif;
}

@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css';
.banner {
    /* background-color: #ed2237; */
    padding-bottom: 40px;
    margin-top: 15px;
    min-height: 400px;  
}

.banner-img {
    padding: 15px 0
}

.btn-banner {
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 8px;
    font-weight: bold;
    border: 0;
    color: rgb(16, 16, 82);
    transition: .5s
}

.btn-banner:hover {
    background-color: rgb(16, 16, 82);
    color: white
}